django-pygmentify==0.3.7
Pygments==2.7.4
pyrsistent==0.15.7
python-dateutil==2.8.1
setuptools==65.5.1
beautifulsoup4==4.10.0
Django==3.2.16
django-pygmentify==0.3.7
Pygments>=2.7.4
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2021.3
six==1.16.0
soupsieve==2.3
sqlparse==0.4.2
typing-extensions==3.10.0.2
python-dotenv~=0.21.0