{% extends 'blog/base.html' %}
{% block content %}
    <div>

        <h1><a href="">About</a></h1>
        <img src="/static/aboutme.jpg" alt="Nora Fergany" style="width=:164px;height:164px" align="right" />
        <p>I completed a BS in Economics from the University of Pittsburgh in April 2017. As a student, I have researched legislative outcomes of indigenous women, the employment outcomes of online versus traditional degrees, and the effects of EEOC enforcement in the labor market. I also have experience in creative writing - I have a minor in Public and Professional Writing from the University of Pittsburgh and my writing has won awards. </p>
    </div>

{% endblock %}
