{% load static %}
{% load pygmentify_tags %}

<html lang="en">
<head>
  <title>Nora Fergany</title>
    <!-- my cooomnet -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://use.fontawesome.com/1dad0d8df2.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Codystar|Seaweed+Script" rel="stylesheet">
<link rel="stylesheet" href="{% pygmentify_css 'monokai' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
   <script src="{% static 'js/blog.js' %}"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    /*.navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color:white;
      color: black;
font-family: 'Lato', sans-serif;
    border-style: solid;
    border-bottom: solid black;
    border-top:black;
    border-left:white;
    border-right:white;
    padding-bottom:0;

    }
*/
    .title {

        font-family: myHEADFont;
    }


  </style>
</head>


<div >

<div>
    <a class="webtitle" href="{% url 'post_list' %}"><h1 class="webtitle" style="font-family: 'Codystar', cursive; font-size:40px;">Nora Fergany</h1></a>
</div>
<!--
<nav class="navbar navbar-inverse">


    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active nav"><a href="{% url 'post_list' %}">Home</a></li>
        <li class="nav"><a href="{% url 'about_me' %}">About</a></li>
        <li class="nav"><a href="{% url 'portfolio_list' %}">Portfolio</a></li>
        <li class="nav"><a href="{% url 'contact_me' %}">Contact</a></li>
        <li class="nav"><a href="https://www.linkedin.com/in/norafergany/">LinkedIn</a></li>
        <li class="nav" style="vertical-align:top;float:right;"><a href="/admin/"><i class="fa fa-sign-in" style="color:gray;" aria-hidden="true"></i> Login</a></li>



      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
</nav>
-->
    <ul class="mynav">
    <li class="active nav"><a href="{% url 'post_list' %}">Home</a></li>
    <li class="nav"><a href="{% url 'about_me' %}">About</a></li>
    <li class="nav"><a href="{% url 'portfolio_list' %}">Portfolio</a></li>
    <li class="nav"><a href="{% url 'contact_me' %}">Contact</a></li>       <li class="nav"><a href="https://www.linkedin.com/in/norafergany/">LinkedIn</a></li>
    <li class="nav" style="vertical-align:top;float:right;"><a href="/admin/"><i class="fa fa-sign-in" style="color:gray;" aria-hidden="true"></i> Login</a></li>



      </ul>

    </div>
<br/>



<body class="content">
{% block content %}
{% pygmentify %}
{% endpygmentify %}




<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
{% endblock %}

</html>
