{% load staticfiles %}

<html lang="en">
<head>
  <title>Nora Fergany</title>
    <!-- my cooomnet -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/4d9122c9d6.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Codystar|Seaweed+Script" rel="stylesheet">




    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
   <script src="{% static 'js/blog.js' %}"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color:white;
      color: black;
font-family: 'Lato', sans-serif;
    border-style: solid;
    border-bottom: solid black;
    border-top:black;
    border-left:white;
    border-right:white;
    padding-bottom:0;

    }

    .title {

        font-family: myHEADFont;
    }


  </style>
</head>
<div >
<div>
    <h1 style="font-family: 'Codystar', cursive; font-size:40px;">Nora Fergany</h1>
</div>

<nav class="navbar navbar-inverse">


    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'post_list' %}">Home</a></li>
        <li><a href="{% url 'about_me' %}">About</a></li>
        <li><a href="{% url 'portfolio_list' %}">Portfolio</a></li>
        <li><a href="{% url 'contact_me' %}">Contact</a></li>
        <li><a href="https://www.linkedin.com/in/norafergany/">LinkedIn</a></li>
        <li style="vertical-align:top;float:right;"><a href="#"><i class="fa fa-sign-in" style="color:gray;" aria-hidden="true"></i> Login</a></li>



      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
</nav>
<br/>
</div>
<body class="content">
{% block content %}

{% endblock %}




    </body>


</html>
