/* START BASE */
.container {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}


title, h1, h2 {
    text-align: center;
}


h3 {
    font-size: 30px;
}

h3, a {
    /*color: black;*/
    text-decoration: none;
}
/* END BASE */


/* START NAVIGATION */
.header {
    padding-right: 0;
    padding-left: 0;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000;
    float: right;
    font-size: 26pt;
}

a.nav-link {
    float:right;
}

.nora {
    float: left;
    font-weight: 700;
    letter-spacing: 3px;
}

.other {
    float: right;
}


li.nav-item-border {
    display: inline-block;
    *display: inline; /*IE7*/
    *zoom: 1; /*IE7*/
    margin-right: 10px;
}

li.nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #A1C0ED;
}
/* END NAVIGATION */


/* START INDEX */
.photo {
    /*margin-bottom: -65px;*/
    /*margin-top: -75px;*/
}

img.headshot {
    border-radius: 50%;
    width: 20%;

}

.text {
    display: inline;
}

.subtext {
    font-style: italic;
    font-size: 1.5vw;
}


@media screen and (orientation: portrait) {
    img.headshot {
        max-width: 90%;
    }
}

@media screen and (orientation: landscape) {
    img.headshot {
        max-height: 90%;
    }
}
/* END INDEX */

/* START POSTS COMMON */
div.date {
    color: gray;
}
.code {
    font-family: monospace, monospace;
}
/* END POSTS COMMON */


/* START POST LIST */

.article {
    text-align:left;
    border-color:black;
    border-width:thin;
    border-style:solid;
    height:100%;
    padding-left:10px;

}
h1.title {
    margin-bottom: 20px;
}

.post-title {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 20px;
    /*color:#666666;*/
}
/* END POST LIST */


/* START POST DETAIL */
.python {
    background-color:#e0e0e0;
}

h1.detail-title {
    text-align: left;
}

div.post {
    text-align:left;
}
/* END POST DETAIL */


@font-face {
    font-family: myFirstFont;
    src: url(HelveticaNeue.ttf);
}

